@model Slider
<img src="~/img/slider/@Model.Image" style="width:fit-content;height:400px;object-fit:cover"/>
<br><br>
<h4>@Model.Title</h4>
<div>@Model.Description</div>
<a asp-action="Index" class="btn btn-secondary mt-3">Go Back</a>